body{
    background: lightpink;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(download\ \(1\).jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color: palevioletred;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
    position: relative;
}
.profile-picture{
    width:150px;
    height: 150px;
    border-radius: 75%;
    object-fit: cover;
    position:relative;
    
}
h1{
    color: black;
    font-display: swap;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background-color: palevioletred;
    color: black;
    text-align: center;
    font-size: large;
}
nav ul{
    list-style-type: none;
    padding: 0px;

}
nav ul li{
    display: inline;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.section-content{
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.download-button{
    color: black;
    background-color: blueviolet;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    display: inline-block;
}
footer{
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}